@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    font-family: Poppins,sans-serif;
}
section{
    padding-top: 5rem;
}

.nav-link{
    margin: 0 15px;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects{
    background-color: #e2edff;
}